html,body {
	margin: 0;
	padding: 0;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif
}

div#header {
	height: 55px;
	width: 100%;
	background: url("/images/tweenky_header_bg.png") repeat-x;
}



div#navigation {
	float: left;
	width: 143px;
	font-size: 12px;
	padding: 0px 0px 5px 5px;
	border-right:3px solid #D2DBED;
	background-color:#fdfdfd;
}
#navigation .box {
	margin:6px 0px 0px 0px;
}

#navigation .box .title{
	font-weight:bold;
	padding:5px 0px 2px 0px;
}
#navigation .box .inner div{
	border-bottom:solid 1px #D6D9DE;
	padding:3px 0px 3px 6px;
}

#navigation .box .pseudolink{
	color:black;
	text-decoration:none;
}
#navigation .box .inner a div.selected{
	background-color:#D2DBED;
	color:black;
	font-weight:bold;
}
#navigation .box .inner a div:hover{
	background-color:#D2DBED;
	color:black;
}





.bold{
	font-weight:bold;
}


div#wrapper {
	float: right;
	width: 100%;
	margin-left: -160px
}

div#container {
	/*background: url("/images/tweenky_navigation.png") repeat-y;*/
}

div#content {
	margin-left: 150px;
}

div#content p {
	line-height: 1.4;
}

div#footer {
	clear: both;
	width: 100%;
	color: #FFF
}

div#footer p {
	margin: 0;
	padding: 5px 10px
}









.small {
font-size: 10px;
}

a, .pseudolink {
color: #4173AF;
cursor: pointer;
text-decoration: none;
}

a:hover, .pseudolink:hover {
text-decoration: underline;
}


#loading{
	font-size:12px; 
	position:absolute;
	top:-2px;
	left:48%;
	background-color:yellow; 
	width:200px; 
	padding:5px; 
	text-align:center;
}

.arrow-right:before { content:"\25B6 \0020"; }
.arrow-down:before  { content:"\25BC \0020"; }

#tweetgroups>ul{
	list-style-type:none;
	padding:0px 0px 0px 5px;
	margin:0px;
}














/* the overlayed element */ 
div.overlay { 
    background-image:url(http://static.mycatholicvoice.com/v4/images/backgrounds/white.png);         
    display:none; 
    padding:30px; 
} 

/* default close button positioned on upper right corner */ 
div.overlay div.close { 
    background-image:url(http://static.mycatholicvoice.com/v4/images/icons/close.png); 
    position:absolute; 
    right:5px; 
    top:5px; 
    cursor:pointer; 
    height:35px; 
    width:35px; 
}


#login-overlay { 
    width:				400px; 
    height:				280px;
    background-image:	url(http://static.mycatholicvoice.com/v4/images/backgrounds/apple.png); 
    color:				#fff;
	text-align: 		left;
	vertical-align:		middle;
}


#login-overlay label{
	float: left;
	width: 130px;
	font-weight: bold;
}

#login-overlay input,
#login-overlay span{
	width: 170px;
	margin-bottom: 5px;
}

#login-overlay #invalid_login{
	color:#FF4F4F; 
	font-weight:bold; 
	font-size:14px; 
	margin:0px 0px 0px 40px;
	display:none;
}

#login-overlay br{
	clear: left;
}




.tweet{
	margin:		0px 0px 10px 10px;
	display:	none;
	padding:	8px 5px 8px 8px;
	height:45px;
	font-size:13px;
}

.tweet .tweet-image{
	float:		left;
	width:		65px; 
	height:		60px; 
}

.tweet .tweet-body{
}

.tweet .tweet-footer{
}


#facebox {

	/* overlay is hidden before loading */
	display:none;

	/* standard decorations */
	width:400px;
	background-color:#fff;
	border:10px solid #666;

	/* for modern browsers use semi-transparent color on the border. nice! */
	border:10px solid rgba(82, 82, 82, 0.698);

	/* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#facebox div {
	padding:10px;
	border:1px solid #3B5998;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif
}

#facebox h2 {
	margin:-11px;
	margin-bottom:0px;
	color:#fff;
	background-color:#6D84B4;
	padding:5px 10px;
	border:1px solid #3B5998;
	font-size:20px;
}
