html{

}

html,body {
margin: 0;
padding: 0;
}

body {
font: 76% arial,sans-serif;
}

div#header {
height: 55px;
width: 100%;
background:url("/images/tweenky_header_bg.png") repeat-x;
}



div#navigation {
}

div#wrapper {
float: right;
width: 100%;
margin-left: -160px
}

div#container {
background:url("/images/tweenky_navigation.png") repeat-y;
}
div#content {
margin-left: 150px;
}

div#content p {
line-height: 1.4;
}
div#navigation {
float: left;
width: 150px;
padding:5px;
}

div#footer {
clear: both;
width: 100%;
background: #333;
color: #FFF
}

div#footer p {
margin: 0;
padding: 5px 10px
}