
/* the overlayed element */
div.overlay {
	
	/* growing background image */
	background-image:url(../img/overlay/white.png);
	
	/* dimensions after the growing animation finishes  */
	width:600px;
	height:470px;		
	
	/* initially overlay is hidden */
	display:none;
	
	/* some padding to layout nested elements nicely  */
	padding:55px;
}

/* default close button positioned on upper right corner */
div.overlay div.close {
	background-image:url(../img/overlay/close.png);
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}

