
.tweet{
	margin:		0px 0px 10px 10px;
	display:	none;
	padding:	8px 5px 8px 8px;
	height:45px;
}

.tweet .tweet-image{
	float:		left;
	width:		65px; 
	height:		60px; 
}

.tweet .tweet-body{
}

.tweet .tweet-footer{
}